<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        *ngFor="let recipe of recipes">
        <div>
            <h4 class="list-group-item-heading">
            {{ recipe.name }}
            </h4>
            <p class="list-group-item-text">
            {{ recipe.description }}
            </p>
        </div>
        <span>
            <img [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            style="max-height: 75px;">
        </span>
        </a>
    </div>
    </div>
</div>